<header class="site-header">
  <div class="wrapper">

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/john_logo.png" | relative_url }}" alt="logo" style="height:32px; vertical-align:middle; margin-right:8px;">
      {{ site.title | escape }}
    </a>

    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title %}
          <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</header>